html {
  background-color: #EECFCB;
}

body {
  max-width: 320px;
  margin: auto;
  background: #D0686E;
}

img {
  display: block;
  max-width: 100%;
  margin: 30px 0 0 0;
}

h1 {
  margin: 30px;
  text-align: center;
  font-size: 28px;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: #fff solid 4px;
}

h1,
h2,
h3 {
  color: #000;
  font-family: "bookman-jf-pro", serif;
  font-weight: 400;
  font-style: normal;
}

nav,
div, 
footer,
figcaption {
  font-family: superclarendon, serif;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-top: #fff solid 4px;
  border-bottom: #fff solid 4px;
  padding: 5px 0;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav a {
  text-align: center;
  padding: 2px;
  color: #000;
  font-style: normal;
}

nav .amelie {
  border-left: #fff solid 4px;
  border-right: #fff solid 4px;
}

.compositeur,
.film {
  background-color: #EECFCB;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
}

.compositeur p,
.film p {
  border-left: #fff solid 4px;
  padding: 5px;
  margin: 0;
}

.legende {
  background-color: #EECFCB;
  margin: 0 70px 0 20px;
  padding: 5px 10px;
  border-radius: 0px 0px 5px 5px;
  font-size: 10px;
  font-weight: 300;
  text-transform: lowercase;
}

.citation {
  border: #fff solid 4px;
  border-radius: 10px 20px;
  margin: 30px 0 0 ;
}

audio::-webkit-media-controls-panel {
  background-color: #EECFCB;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #D0686E;
  border-radius: 50%;
}

footer {
  background-color: #EECFCB;
  border-radius: 10px 10px 0 0;
}

footer img {
  max-width: 54px;
}

h2,
h3,
div .compositeur,
div .citation,
div .film,
div .legende,
figure {
  margin: 0 20px;
}